#map {
    width: 100%;
    height: auto;
    height: intrinsic;
}

.container3 {
  display: flex; /* Makes the container a flex container */
  gap: 10px; /* Adds space between the flex items */
  /* Optional: align-items: center; for vertical alignment */
  /* Optional: justify-content: space-around; for horizontal distribution */
}

.canvasDiv, .menuDiv {
    padding: 10px
}

.hoverdata text {
  fill: black;
  font-size: 1.0em;
}

.hoverdata rect {
  rx: 4px;
  ry: 4px;
  fill: #eee;
}

.airport {
  fill: brown;
  fill-opacity: 0.5;
  stroke: white;
  stroke-width: 0.5;
  z-index: 80;
}
.connections {
  stroke: #444;
  stroke-width: 1.5;
  fill: none;
}
