body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

rect {
  rx: 2px;
  ry: 2px;
}

#container1, #container3 {
  overflow: hidden;
  position: relative;
}

#container1 svg {
    width: 80%;
    height: auto;
    height: intrinsic;
}

#container3 svg {
    width: 80%;
    height: auto;
    height: intrinsic;
}

#container1 .sidebar {
  background-color: lightgray;
  float: inline-end;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
}

.sidebar #routes {
  overflow-y: auto;
  height: 50%;
}

.sidebar .inlinebar {
  display: inline-block;
  height: 1em;
  /* margin-left: 4px; */
  /* margin-right: 4px; */
}

.sidebar table {
  user-select: none;
  -webkit-user-select: none;
}

.container3 {
  display: flex; /* Makes the container a flex container */
  gap: 10px; /* Adds space between the flex items */
  /* Optional: align-items: center; for vertical alignment */
  /* Optional: justify-content: space-around; for horizontal distribution */
}

.canvasDiv, .menuDiv {
    padding: 10px
}

.hoverdata {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.hoverdata text {
  fill: black;
  font-size: 1.0em;
}

.hoverdata rect {
  fill: #eeeeeec4;
  rx: 4px;
  ry: 4px;
}

.airports {
  fill: brown;
  fill-opacity: 0.5;
  stroke: white;
  stroke-width: 0.5;
  z-index: 80;
}

#factorName {
  color: brown;
}

.airports circle:hover {
  stroke: yellow;
}

.connections {
  fill: none;
  stroke: #444;
  stroke-width: 1.5;
}
.connections path:hover {
  stroke-width: 5.0;
  opacity: 1.0;
}