:root {
  --color-dark: #252525;
  --color-light: #efeee9;
  --color-banner: #fafafa;
  
  --size-step-0: 1.13rem;
  --size-step-1: 1.5rem;
  --size-step-2: 2rem;
  --size-step-3: 2.66rem;
  --size-step-4: 3.55rem;
  --deep-blue: rgb(74, 116, 180);
  --deep-red: rgb(165, 0, 38);
  --color-primary: var(--deep-blue);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.2em;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  padding: 8em;
  font-family: Inter, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: var(--size-step-0);
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  
}

.article {
  max-width: 100ch;
  margin-inline: auto;
}

.emphasizedRed {
  font-weight: 600;
  color: var(--deep-red);
}

.emphasizedBlue {
  font-weight: 600;
  color: var(--deep-blue);
}

h1,
h2,
h3 {
  font-family: Inter, sans-serif;
  font-weight: 800;
  text-wrap: balance;
}
h1 {
  font-size: var(--size-step-4);
}
h2 {
  font-size: var(--size-step-3);
}
h3 {
  font-size: var(--size-step-2);
}

ul,
ol {
  padding-inline-start: 1em;
}

.inter-body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html:focus-within {
  scroll-behavior: smooth;
}

blockquote {
  max-width: 50ch;
}

h1 {
  max-width: 30ch;
}

h2,
h3 {
  max-width: 28ch;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
  background: var(--color-light);
}

input,
button,
textarea,
select {
  font: inherit;
}

.caption {
  font-weight: 300;
  font-style: italic;
  font-size: 18;
}

rect {
  rx: 2px;
  ry: 2px;
}

#container1, #container3, #container4 {
  overflow: hidden;
  position: relative;
}

#container1 svg {
    width: 80%;
    height: auto;
    height: intrinsic;
}

#container3 svg {
    width: 100%;
    height: auto;
    height: intrinsic;
}

#container1 .sidebar {
  background-color: var(--color-banner);
  float: inline-end;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
}

.sidebar #routes {
  overflow-y: auto;
}

.sidebar .inlinebar {
  display: inline-block;
  height: 1em;
  /* margin-left: 4px; */
  /* margin-right: 4px; */
}

#routes table {
  user-select: none;
  -webkit-user-select: none;
  font-size: 0.7em;
}

.container3 {
  display: flex; /* Makes the container a flex container */
  gap: 10px; /* Adds space between the flex items */
  /* Optional: align-items: center; for vertical alignment */
  /* Optional: justify-content: space-around; for horizontal distribution */
}

.canvasDiv, .menuDiv {
    padding: 10px
}

.hoverdata {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.hoverdata text {
  fill: var(--color-dark);
  font-size: 1.0em;
}

.hoverdata rect {
  fill: var(--color-banner);
  rx: 4px;
  ry: 4px;
}

.airports {
  fill: var(--deep-red);
  fill-opacity: 0.5;
  stroke: var(--color-light);
  stroke-width: 0.5;
  z-index: 80;
}

#factorName {
  color: var(--deep-red);
}

.airports circle:hover {
  stroke: yellow;
}

.connections {
  fill: none;
  stroke: var(--color-dark);
  stroke-width: 1.5;
}
.connections path:hover {
  stroke-width: 6.0;
  opacity: 1.0;
}